<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xupt.dal.mapper.ExperimentalTaskMapper">
    <resultMap id="ExperimentalTaskMap" type="com.xupt.dal.model.ExperimentalTaskEntity">
        <result column="id" property="id"/>
        <result column="major" property="major"/>
        <result column="classs" property="classs"/>
        <result column="student_num" property="studentNum"/>
        <result column="subject" property="subject"/>
        <result column="hours" property="hours"/>
        <result column="compulsory_elective" property="compulsoryElective"/>
        <result column="teacher" property="teacher"/>
        <result column="numberr" property="numberr"/>
        <result column="reserve1" property="reserve1"/>
        <result column="reserve2" property="reserve2"/>
    </resultMap>
    <sql id="fields">
        id,major,classs,student_num,subject,hours,compulsory_elective,teacher,numberr,reserve1,reserve2
    </sql>
    <sql id="insertValues">
        <trim suffixOverrides=",">
            <if test="major != null">#{major},</if>
            <if test="classs != null">#{classs},</if>
            <if test="studentNum != null">#{studentNum},</if>
            <if test="subject != null">#{subject},</if>
            <if test="hours != null">#{hours},</if>
            <if test="compulsoryElective != null">#{compulsoryElective},</if>
            <if test="teacher != null">#{teacher},</if>
            <if test="numberr != null">#{numberr},</if>
            <if test="reserve1 != null">#{reserve1},</if>
            <if test="reserve2 != null">#{reserve2},</if>
        </trim>
    </sql>
    <sql id="insertFields">
        <trim suffixOverrides=",">
            <if test="major != null">major,</if>
            <if test="classs != null">classs,</if>
            <if test="studentNum != null">student_num,</if>
            <if test="subject != null">subject,</if>
            <if test="hours != null">hours,</if>
            <if test="compulsoryElective != null">compulsory_elective,</if>
            <if test="teacher != null">teacher,</if>
            <if test="numberr != null">numberr,</if>
            <if test="reserve1 != null">reserve1,</if>
            <if test="reserve2 != null">reserve2,</if>
        </trim>
    </sql>
    <sql id="updateFields">
        <set>
            <if test="major != null">major=#{major},</if>
            <if test="classs != null">classs=#{classs},</if>
            <if test="studentNum != null">student_num=#{studentNum},</if>
            <if test="subject != null">subject=#{subject},</if>
            <if test="hours != null">hours=#{hours},</if>
            <if test="compulsoryElective != null">compulsory_elective=#{compulsoryElective},</if>
            <if test="teacher != null">teacher=#{teacher},</if>
            <if test="numberr != null">numberr=#{numberr},</if>
            <if test="reserve1 != null">reserve1=#{reserve1},</if>
            <if test="reserve2 != null">reserve2=#{reserve2},</if>
        </set>
    </sql>
    <sql id="searchFields">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="major != null">AND major like concat(concat("%",#{major}),"%")</if>
            <if test="classs != null">AND classs like concat(concat("%",#{classs}),"%")</if>
            <if test="subject != null">AND subject like concat(concat("%",#{subject}),"%")</if>
            <if test="compulsoryElective != null">AND compulsory_elective like concat(concat("%",#{compulsoryElective}),"%")</if>
            <if test="numberr != null">AND numberr like concat(concat("%",#{numberr}),"%")</if>
        </trim>
    </sql>
    <insert id="insert" parameterType="Object" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO experimental_task(<include refid="insertFields"/>) values(<include refid="insertValues"/>)
    </insert>
    <select id="queryById" parameterType="Object" resultMap="ExperimentalTaskMap">
        select <include refid="fields"/> from experimental_task where id = #{id}
    </select>
    <select id="queryByNum" parameterType="Object" resultMap="ExperimentalTaskMap">
        select <include refid="fields"/> from experimental_task where numberr = #{numberr}
    </select>
    <select id="queryByPage" parameterType="com.xupt.dal.dto.ExperimentalTaskDTO" resultMap="ExperimentalTaskMap">
        select <include refid="fields"/> from experimental_task <include refid="searchFields"/> limit #{offSet},#{pageSize}
    </select>
    <update id="update" parameterType="com.xupt.dal.model.ExperimentalTaskEntity">
        update experimental_task <include refid="updateFields"/> where id=#{id}
    </update>
    <delete id="delete" parameterType="Object">
        delete from experimental_task where id = #{id}
    </delete>
    <select id="count" parameterType="com.xupt.dal.dto.ExperimentalTaskDTO" resultType="Integer">
        select count(0) from experimental_task <include refid="searchFields"/> limit #{offSet},#{pageSize}
    </select>
</mapper>