<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xupt.dal.mapper.UserinfoMapper">
    <resultMap id="UserinfoMap" type="com.xupt.dal.model.UserinfoEntity">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="type" property="type"/>
        <result column="realname" property="realname"/>
        <result column="remark" property="remark"/>
        <result column="reserve1" property="reserve1"/>
        <result column="reserve2" property="reserve2"/>
    </resultMap>
    <sql id="fields">
        id,name,password,type,realname,remark,reserve1,reserve2
    </sql>
    <sql id="insertValues">
        <trim suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="password != null">#{password},</if>
            <if test="type != null">#{type},</if>
            <if test="realname != null">#{realname},</if>
            <if test="remark != null">#{remark},</if>
            <if test="reserve1 != null">#{reserve1},</if>
            <if test="reserve2 != null">#{reserve2},</if>
        </trim>
    </sql>
    <sql id="insertFields">
        <trim suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="password != null">password,</if>
            <if test="type != null">type,</if>
            <if test="realname != null">realname,</if>
            <if test="remark != null">remark,</if>
            <if test="reserve1 != null">reserve1,</if>
            <if test="reserve2 != null">reserve2,</if>
        </trim>
    </sql>
    <sql id="updateFields">
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="password != null">password=#{password},</if>
            <if test="type != null">type=#{type},</if>
            <if test="realname != null">realname=#{realname},</if>
            <if test="remark != null">remark=#{remark},</if>
            <if test="reserve1 != null">reserve1=#{reserve1},</if>
            <if test="reserve2 != null">reserve2=#{reserve2},</if>
        </set>
    </sql>
    <sql id="searchFields">
        <trim prefixOverrides="AND">
            <if test="id != null">AND id=#{id}</if>
        </trim>
    </sql>
    <insert id="insert" parameterType="com.xupt.dal.model.UserinfoEntity" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO userinfo(<include refid="insertFields"/>) values(<include refid="insertValues"/>)
    </insert>
    <select id="query" resultMap="UserinfoMap">
        select * from userinfo
    </select>
    <select id="queryByName" parameterType="Object" resultMap="UserinfoMap">
        select * from userinfo where name = #{name}
    </select>
    <update id="updateByName" parameterType="Object" >
        update userinfo set password=#{passwoed} where name = #{name}
    </update>
</mapper>