<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xupt.dal.mapper.AdminMapper">
    <resultMap id="AdminMap" type="com.xupt.dal.model.AdminEntity">
        <result column="id" property="id"/>
        <result column="idno" property="idno"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age"/>
        <result column="idcardnum" property="idcardnum"/>
        <result column="phonenum" property="phonenum"/>
        <result column="email" property="email"/>
        <result column="addr" property="addr"/>
        <result column="authtype" property="authtype"/>
        <result column="passwd" property="passwd"/>
        <result column="authstatus" property="authstatus"/>
    </resultMap>
    <sql id="fields">
        id,idno,name,sex,age,idcardnum,phonenum,email,addr,authtype,passwd,authstatus
    </sql>
    <sql id="insertValues">
        <trim suffixOverrides=",">
            <if test="idno != null">#{idno},</if>
            <if test="name != null">#{name},</if>
            <if test="sex != null">#{sex},</if>
            <if test="age != null">#{age},</if>
            <if test="idcardnum != null">#{idcardnum},</if>
            <if test="phonenum != null">#{phonenum},</if>
            <if test="email != null">#{email},</if>
            <if test="addr != null">#{addr},</if>
            <if test="authtype != null">#{authtype},</if>
            <if test="passwd != null">#{passwd},</if>
            <if test="authstatus != null">#{authstatus},</if>
        </trim>
    </sql>
    <sql id="insertFields">
        <trim suffixOverrides=",">
            <if test="idno != null">idno,</if>
            <if test="name != null">name,</if>
            <if test="sex != null">sex,</if>
            <if test="age != null">age,</if>
            <if test="idcardnum != null">idcardnum,</if>
            <if test="phonenum != null">phonenum,</if>
            <if test="email != null">email,</if>
            <if test="addr != null">addr,</if>
            <if test="authtype != null">authtype,</if>
            <if test="passwd != null">passwd,</if>
            <if test="authstatus != null">authstatus,</if>
        </trim>
    </sql>
    <sql id="updateFields">
        <set>
            <if test="idno != null">idno=#{idno},</if>
            <if test="name != null">name=#{name},</if>
            <if test="sex != null">sex=#{sex},</if>
            <if test="age != null">age=#{age},</if>
            <if test="idcardnum != null">idcardnum=#{idcardnum},</if>
            <if test="phonenum != null">phonenum=#{phonenum},</if>
            <if test="email != null">email=#{email},</if>
            <if test="addr != null">addr=#{addr},</if>
            <if test="authtype != null">authtype=#{authtype},</if>
            <if test="passwd != null">passwd=#{passwd},</if>
            <if test="authstatus != null">authstatus=#{authstatus},</if>
        </set>
    </sql>
    <sql id="searchFields">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="name != null">AND `name` like concat(concat(#{name}),"%")</if>
            <if test="phonenum != null">AND phonenum like concat(concat("%",#{phonenum}),"%")</if>
        </trim>
    </sql>
    <insert id="insert" parameterType="Object" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO admin(<include refid="insertFields"/>) values(<include refid="insertValues"/>)
    </insert>
    <select id="query" resultMap="AdminMap">
        select <include refid="fields"/> from admin
    </select>
    <select id="queryByIdno" parameterType="String" resultMap="AdminMap">
        select <include refid="fields"/> from admin where idno = #{idno}
    </select>
    <select id="queryById" parameterType="Integer" resultMap="AdminMap">
        select <include refid="fields"/> from admin where id = #{id}
    </select>
    <update id="update" parameterType="com.xupt.dal.model.AdminEntity">
        update admin <include refid="updateFields"/> where id = #{id}
    </update>
    <delete id="delete" parameterType="Object">
        delete from admin where id = #{id}
    </delete>
</mapper>