<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xupt.dal.mapper.CardinfoMapper">
    <resultMap id="CardinfoMap" type="com.xupt.dal.model.CardinfoEntity">
        <result column="id" property="id"/>
        <result column="idno" property="idno"/>
        <result column="cardno" property="cardno"/>
        <result column="types" property="types"/>
        <result column="remain" property="remain"/>
    </resultMap>
    <sql id="fields">
        id,idno,cardno,types,remain
    </sql>
    <sql id="insertValues">
        <trim suffixOverrides=",">
            <if test="idno != null">#{idno},</if>
            <if test="cardno != null">#{cardno},</if>
            <if test="types != null">#{types},</if>
            <if test="remain != null">#{remain},</if>
        </trim>
    </sql>
    <sql id="insertFields">
        <trim suffixOverrides=",">
            <if test="idno != null">idno,</if>
            <if test="cardno != null">cardno,</if>
            <if test="types != null">types,</if>
            <if test="remain != null">remain,</if>
        </trim>
    </sql>
    <sql id="updateFields">
        <set>
            <if test="idno != null">idno=#{idno},</if>
            <if test="cardno != null">cardno=#{cardno},</if>
            <if test="types != null">types=#{types},</if>
            <if test="remain != null">remain=#{remain},</if>
        </set>
    </sql>
    <sql id="searchFields">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="cardno != null">AND cardno like concat(concat(#{cardno}),"%")</if>
        </trim>
    </sql>
    <insert id="insert" parameterType="Object" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO cardinfo(<include refid="insertFields"/>) values(<include refid="insertValues"/>)
    </insert>
    <select id="query" parameterType="com.xupt.dal.dto.CardinfoDTO" resultMap="CardinfoMap">
        select <include refid="fields"/> from cardinfo <include refid="searchFields"/> limit #{offset},#{pageSize}
    </select>
    <select id="queryByIdno" parameterType="String" resultMap="CardinfoMap">
        select <include refid="fields"/> from cardinfo where cardno = #{cardno}
    </select>
    <select id="queryById" parameterType="Object" resultMap="CardinfoMap">
        select <include refid="fields"/> from cardinfo where id = #{id}
    </select>
    <select id="count" parameterType="com.xupt.dal.dto.CardinfoDTO" resultType="Integer">
        select count(0) from cardinfo <include refid="searchFields"/>
    </select>
    <update id="update" parameterType="com.xupt.dal.model.CardinfoEntity">
        update cardinfo <include refid="updateFields"/> where id = #{id}
    </update>
    <delete id="delete" parameterType="Object">
        delete from cardinfo where id = #{id}
    </delete>
</mapper>