<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xupt.dal.mapper.StopMapper">
    <resultMap id="StopMap" type="com.xupt.dal.model.StopEntity">
        <result column="id" property="id"/>
        <result column="cardno" property="cardno"/>
        <result column="carnum" property="carnum"/>
        <result column="cartype" property="cartype"/>
        <result column="carposi" property="carposi"/>
        <result column="feestype" property="feestype"/>
        <result column="operator" property="operator"/>
    </resultMap>
    <sql id="fields">
        id,cardno,carnum,cartype,carposi,feestype,operator
    </sql>
    <sql id="insertValues">
        <trim suffixOverrides=",">
            <if test="cardno != null">#{cardno},</if>
            <if test="carnum != null">#{carnum},</if>
            <if test="cartype != null">#{cartype},</if>
            <if test="carposi != null">#{carposi},</if>
            <if test="feestype != null">#{feestype},</if>
            <if test="operator != null">#{operator},</if>
        </trim>
    </sql>
    <sql id="insertFields">
        <trim suffixOverrides=",">
            <if test="cardno != null">cardno,</if>
            <if test="carnum != null">carnum,</if>
            <if test="cartype != null">cartype,</if>
            <if test="carposi != null">carposi,</if>
            <if test="feestype != null">feestype,</if>
            <if test="operator != null">operator,</if>
        </trim>
    </sql>
    <sql id="updateFields">
        <set>
            <if test="cardno != null">cardno=#{cardno},</if>
            <if test="carnum != null">carnum=#{carnum},</if>
            <if test="cartype != null">cartype=#{cartype},</if>
            <if test="carposi != null">carposi=#{carposi},</if>
            <if test="feestype != null">feestype=#{feestype},</if>
            <if test="operator != null">operator=#{operator},</if>
        </set>
    </sql>
    <sql id="searchFields">
        <trim prefixOverrides="AND">
            <if test="id != null">AND id=#{id}</if>
        </trim>
    </sql>
    <insert id="insert" parameterType="Object" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO stop(<include refid="insertFields"/>) values(<include refid="insertValues"/>)
    </insert>
    <select id="queryByCardno" parameterType="Object" resultMap="StopMap">
        select <include refid="fields"/> from stop where cardno = #{cardno}
    </select>
    <delete id="deleteByCarnum" parameterType="String">
        delete from stop where carnum = #{carnum}
    </delete>
    <select id="queryByCarnum" parameterType="String" resultMap="StopMap">
        select <include refid="fields"/> from stop where carnum = #{carnum}
    </select>
</mapper>